.pagetitle-below {
	border-top: 1px solid rgba(220,226,230,.5);
	padding-bottom: 20px;
}

#formImportResponseError > .error
{
	border-bottom: 1px solid #eff2f5;
	padding: 7px 16px 12px;
	font-size: 12px;
}

#formImportResponseError > .error:last-child
{
	border-bottom: none;
}

#formImportResponseError > .error:hover
{
	background-color: #f3f3f3;
}

.sh-description var {
	border: 1px solid var(--bs-gray-400, #d9d9d9);
	padding: 0 6px 2px;
	font-style: normal;
	background-color: var(--bs-gray-300);
	line-height: 1;
	margin-top: 0;
	display: inline-block;
}